@model CreditApp.UI.Models.HomeModel
<!-- start banner Area -->
<section class="banner-area" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <div class="row single-slide align-items-center d-flex" style="height: 700px">
                        <div class="col-lg-5 col-md-6 m-auto">
                            <div class="banner-content">
                                <h1>Apple Watch <br> Series 10</h1>
                                <p>The thinnest Apple Watch ever, with our biggest display. With a new Wide-Angle Always-On OLED Retina display Footnote 1.The thinnest Apple Watch ever, with our biggest display. With a new Wide-Angle Always-On OLED Retina display Footnote 1</p>
                            </div>
                        </div>
                        <div class="col-lg-7" style="margin: auto">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/images/sliders/slide3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide" style="height: 700px">
                        <div class="col-lg-5 m-auto">
                            <div class="banner-content">
                                <h1>iPhone 16 Pro</h1>
                                <p>iPhone 16 Pro features a Grade 5 titanium design with a new, refined microblasted finish. Titanium has one of the highest strength-to-weight ratios of any metal, making these models incredibly strong and impressively light.</p>
                            </div>
                        </div>
                        <div class="col-lg-7" style="margin: auto">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/images/sliders/slide2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row single-slide" style="height: 700px">
                        <div class="col-lg-5 m-auto">
                            <div class="banner-content">
                                <h1>Macbook Pro</h1>
                                <p>For the first time, MacBook Pro features hardware-accelerated ray tracing. Combined with the new graphics architecture, it enables pro apps to deliver up to two and a half times faster rendering performance and allows games to provide more realistic shadows and reflections.</p>
                            </div>
                        </div>
                        <div class="col-lg-7" style="margin: auto">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/images/sliders/slide1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->

<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/mainpage/img4.jpeg" style="width: 476px; height: 191.5px;" alt="">
                            <a href="~/images/mainpage/img4.jpeg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Apple IMac</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/mainpage/img2.jpg" style="height: 191.5px" alt="">
                            <a href="~/images/mainpage/img2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Asus Rog Monitor</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/mainpage/img1.jpeg" alt="">
                            <a href="~/images/mainpage/img1.jpeg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Apple Airpods 4</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/images/mainpage/img5.jpg" style="height: 191.5px" alt="">
                            <a href="~/images/mainpage/img5.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Asus Rog Strix</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/images/mainpage/img3.webp" style="width: 350px;height: 413.19px" alt="">
                    <a href="~/images/mainpage/img3.webp" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Apple Macbook</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->

<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
<!-- single product slide -->
<div class="single-product-slider">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Latest Products</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model.Products.OrderByDescending(x=>x.CreatedAt).Take(6))
            {
                <!-- single product -->
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="~/images/products/@product.FileName" style="width: 255px;height: 272px;" alt="">
                        <div class="product-details">
                            <h6>  @product.Brand @product.Model @product.Name </h6>
                            <div class="price">
                                <h6>$@product.Price</h6>
                            </div>
                            <div class="prd-bottom">
                                <a asp-action="add" asp-controller="loan" asp-route-productId="@product.Id" asp-route-count="1" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                </a>
                                <a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">view more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- single product slide -->
<div class="single-product-slider">
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <div class="section-title">
            <h1>Top Sale Products</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.
            </p>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var product in Model.Products.OrderByDescending(x=>x.LoanItems.Select(x=>x.Count).Sum()).Take(6))
    {
    <!-- single product -->
    <div class="col-lg-3 col-md-6">
        <div class="single-product">
            <img class="img-fluid" src="~/images/products/@product.FileName" style="width: 255px;height: 272px;" alt="">
            <div class="product-details">
                <h6>  @product.Brand @product.Model @product.Name </h6>
                <div class="price">
                    <h6>$@product.Price</h6>
                </div>
                <div class="prd-bottom">
                    <a asp-action="add" asp-controller="loan" asp-route-productId="@product.Id" asp-route-count="1" class="social-info">
                        <span class="ti-bag"></span>
                        <p class="hover-text">add to bag</p>
                    </a>
                    <a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id" class="social-info">
                        <span class="lnr lnr-move"></span>
                        <p class="hover-text">view more</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
</div>
</div>
</section>
<!-- end product Area -->

<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-left" style="background: url(./images/mainpage/iphone16.jpg) center no-repeat; background-size: cover">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1>Exclusive Hot Deal Ends Soon!</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row clock-wrap">
                            <div class="col clockinner1 clockinner">
                                <h1 class="days">150</h1>
                                <span class="smalltext">Days</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="hours">23</h1>
                                <span class="smalltext">Hours</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="minutes">47</h1>
                                <span class="smalltext">Mins</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="seconds">59</h1>
                                <span class="smalltext">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-action="index" asp-controller="shop" class="primary-btn">Shop Now</a>
            </div>
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    
                    @foreach (var product in Model.Products.OrderByDescending(x=>x.CreatedAt).Take(2))
                    {
                        <!-- single exclusive carousel -->
                        <div class="single-exclusive-slider">
                            <img class="img-fluid" src="~/images/products/@product.FileName" style="width: 300px;height: 270px" alt="">
                            <div class="product-details">
                                <div class="price">
                                    <h6>$@product.Price</h6>
                                </div>
                                <h4>
                                    @product.Brand @product.Model @product.Name
                                </h4>
                                <div class="add-bag d-flex align-items-center justify-content-center">
                                    <a asp-action="add" style="color: orange" asp-controller="loan" asp-route-productId="@product.Id" asp-route-count="1" class="social-info">
                                        <span class="ti-bag"></span>
                                    </a>
                                    <span class="add-text text-uppercase">Add to Bag</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->
